.box{
  width: 300px;
  height: 400px;
  margin: 50px auto 0;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}
.box img{
  width: 300px;
  height: 400px;
}
.pic_info{
  width:300px;
  height:200px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  color:#fff;
  left:0;
  top:400px;
  transition: all 1s cubic-bezier(0.750,-0.425,0.055,1.480);
  box-shadow: 100px 100px 115px 2px pink inset;
}
.box:hover .pic_info{
  top:150px;
}
.pic_info p{
  margin: 20px;
  line-height: 30px;
  text-align: center;
}
