/*
1、transition-property 设置过渡的属性，比如：width height background-color
2、transition-duration 设置过渡的时间，比如：1s 500ms
3、transition-timing-function 设置过渡的运动方式

linear 匀速
ease 开始和结束慢速
ease-in 开始是慢速
ease-out 结束时慢速
ease-in-out 开始和结束时慢速
cubic-bezier(n,n,n,n)
比如：cubic-bezier(0.845, -0.375, 0.215, 1.335)
曲线设置网站：https://matthewlein.com/ceaser/
4、transition-delay 设置动画的延迟
5、transition: property duration timing-function delay 同时设置四个属性
*/
.main{
  height: 500px;
  width: 500px;
  border: 1px solid #333;
  background-color: gold;
  /* background-image: url(../sources/p1.jpg); */
  /* transition:width 500ms ease-in-out 500ms,height 500ms ease 500ms,border 500ms ease 500ms;
     transition: all 500ms ease; all就是所有一起变化
    上下等价
  */
  /*transition: ease-in-out 500ms;  开始和结束时时缓慢*/
}
 .main:hover{
    width:300px;
    height:300px;
    background-color:red;
    border-radius: 50px;
}
div{
  width:50px;
  background-color: gold;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  color:rgb(240, 46, 52);
}
div:nth-child(2){
  transition: all 1s linear;
}
div:nth-child(3){
  transition: all 1s ease;
}
div:nth-child(4){
  transition: all 1s ease-in;
}
div:nth-child(5){
  transition: all 1s ease-out;
}
div:nth-child(6){
  transition: all 1s ease-in-out;
}
div:nth-child(7){
  transition: all 1s cubic-bezier(0.750,-0.425,0.055,1.480);
}
div:hover{
  width: 1000px;
}
