/*
1、translate(x,y) 设置盒子位移
2、scale(x,y) 设置盒子缩放
3、rotate(deg) 设置盒子旋转
4、skew(x-angle,y-angle) 设置盒子斜切
5、perspective 设置透视距离
6、transform-style flat | preserve-3d 设置盒子是否按3d空间显示
7、translateX、translateY、translateZ 设置三维移动
8、rotateX、rotateY、rotateZ 设置三维旋转
9、scaleX、scaleY、scaleZ 设置三维缩放
10、tranform-origin 设置变形的中心点
11、backface-visibility 设置盒子背面是否可见*/
div{
  width:200px;
  height: 200px;
  line-height: 200PX;
  background-color:gold;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  transition: all 5s ease;
  float:left;
  margin: 10px 30px;
}
div:nth-child(1):hover{
  transform: scale(0.5);
}
div:nth-child(2):hover{
  width: 100px;
  height: 100px;
}
div:nth-child(3){

}
div:nth-child(3):hover{
  transform: rotate(50deg);
}

div:nth-child(4):hover{
  transform:rotateX(360deg);
  transform-style: preserve-3d;
}

div:nth-child(5):hover{
  transform: translate(100px,100px); /*translate性能比较高且文字不脱离文档流*/
}
.backface{
  background: none;
  position: relative;
  transform-style:preserve-3d;
}
.boss{
  transform:perspective(800px) rotateY(0deg);
  backface-visibility:hidden;
  position: absolute;
  top: -10px;
  left: -30px;
}
.boss img{
  width: 200px;
  height: 200px;
}
.back_info{
  width:200px;
  height: 200px;
  position: absolute;
  background-color: cyan;
  left:-30px;
  top:-10px;
  transform:rotateY(180deg);
  backface-visibility:hidden;
}
.backface:hover .boss{
  transform:perspective(800px) rotateY(180deg);
}
.backface:hover .back_info{
  transform:perspective(800px) rotateY(0deg);
}
