body,ul,p,h1,h2,h3,h4,h5,h6,dl,dd,input,select,form{
  padding: 0px;
  margin: 0px;
}
/*让h标签继承BODY内设计的字体大小*/
h1,h2,h3,h4,h5,h6{
  font-size: 100%;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}
em{
  font-style: normal;
}
/*去掉IE默认的图片边框*/
img{
  border: none;
}
.clearfix::before,.clearfix:after{
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}
.clearfix{
  zoom:1;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
